$header-blue: #0074BC;
$font-stack: Muli, sans-serif;

[data-type="page"].chapter-content-module {
    color: $header-blue;
    font-family: $font-stack;
    line-height: 1.5rem;
    h2 {    // Section header
        margin: 10px 0px 10px 0px;
        font-weight: bolder;
        font-size: 1.7rem;
    }
    h3 { // Learning Objectives
        font-weight: bolder;
        margin: 0px;
        font-size: 16px;
    }
    p { // subheader
        font-style: italic;
        margin: 0px;
    }
    ul { // 
        margin: 0px;
        padding-left: 30px;
        font-size: 1rem;
    }
    li { // 
        color: black;
    }
    li::marker { // 
        color: $header-blue;
    }
}