$text-color: #0074BC;
$font-stack-chapter: Muli, sans-serif;
$font-stack-title: IBM Plex Sans, sans-serif;

h1[data-type="document-title"] {
    span.os-divider { // creates a line break between chapter numbering and title
        display: block;
    }
    // line height, margin, and font size apply to all
    line-height: 1.5rem;
    font-size: 2rem;
    margin-right: 8px;
    .os-part-text, .os-number { // chapter numbering
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 0.1rem; 
        font-family: $font-stack-chapter;
        color: $text-color;
    }
    .os-text { // title of the chapter
        font-family: $font-stack-title;
        font-size: 3.5rem;
        line-height: 3rem;
        font-weight: lighter;
        color: #000000;
    }
}