$header-blue: #0074BC;

[data-type="page"].chapter-content-module {
    color: $header-blue;
    font-family: Muli;
    line-height: 1.5rem;
    h2 {    // Section header
        margin: 10px 0px 10px 0px;
        font-weight: bolder;
        font-size: 1.7rem;
    }
    h3 { // Learning Objectives
        font-weight: 900;
        margin: 0px;
        font-size: 1rem;
    }
    p { // subheader
        font-style: italic;
        margin: 0px;
        font-size: 1rem;
    }
    ul {
        margin: 0px;
        padding-left: 30px;
        font-size: 1rem;
    }
    li {
        color: black;
    }
    li::marker {
        color: $header-blue;
    }
}