@use '../custom-properties/extend-margins';

$left-color: #0074BC;
$caption-color: #EEEAE0;
$figure-name-color: #C31427;

div.os-figure.has-splash {
    margin-bottom: 2rem;
    .splash {
        background-color: $left-color;
        @extend %extend-margin-left;
        img {
            width: 8.15in;
            display: block; // gets rid of gap under image
        }
    }
    .os-caption-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: $caption-color;
        font-family: IBM Plex Sans;
        // make the caption flow into the margins
        @extend %extend-margin-left;
        @extend %extend-margin-right;
        .os-title-label, .os-number {
            color: $figure-name-color;
            font-family: Muli;
            font-weight: bold;
        }
    }
}