$outline-bg: #0074BC;
$ibm-font: IBM Plex Sans, sans-serif;

@page {
    content: flow(os-chapter-outline);
}

.intro-body {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    .intro-text {
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
        }
        p {
            margin-bottom: 0.7rem;
        }
    }
    .os-chapter-outline {
        background-color: $outline-bg;
        font-family: $ibm-font;
        font-size: 1rem;
        font-weight: 500;
        width: 2.15in;
        margin-right: 1.2rem;
        margin-left: 1.5rem;
        padding: 1.5rem 0rem 1.5rem 1.5rem;
        color: white;
        h3.os-title {
            border-bottom: white 1px solid;
            line-height: 1.5rem;
            padding-bottom: 10px;
            margin-top: 0px;
        }
        div.os-chapter-objective {
            padding-right: 1.5rem;
            margin-bottom: 10px;
            a.os-chapter-objective { // override <a> element characteristics
                color: white;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                span.os-divider {
                    width: 10px;    // space between section number and section title
                }
            }
            
        }
    }
}