$page-margin: 4.5rem;

%flow-padding-into-left-margin {
    position: relative;
    padding-left: $page-margin;
    left: -$page-margin;
}

%flow-padding-into-right-margin {
    position: relative;
    margin-right: -$page-margin * 2;
    padding-right: $page-margin;
}